.grid {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 34.4375rem) {
    grid-template-columns: minmax(164px, 290px) 1fr;
  }

  & .grid__title {
    @media (min-width: 933px) {
        grid-column: span 2;
    }
  }

  & .grid__content {
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    grid-template-rows: auto 1fr;
    gap: var(--spacing-xxl);
    width: 90%;
    max-width: 78.125rem;
    margin: 0 auto;
    padding: var(--spacing-md);
    min-width: 990px;

    @media (max-width: 1150px) {
      min-width: 774px;
    }
    @media (max-width: 933px) {
        grid-template-columns: 1fr;
        min-width: 425px;
    }
  }
}
