.grid {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 34.4375rem) {
    grid-template-columns: minmax(auto, 18.125rem) 1fr;
    grid-template-rows: auto 1fr;
  }

  & .grid__title {
    margin: var(--spacing-md);
    @media (min-width: 58.3125rem) {
      margin: var(--spacing-xxl);
    }
  }
  & .grid__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: var(--spacing-md);
    width: 96%;
    min-width: 990px;
    max-width: 78.125rem;
    margin: 0 auto;
    padding: var(--spacing-md);

    @media (max-width: 71.875rem) {
      min-width: 48.375rem;
    }

    @media (max-width: 58.3125rem) {
      grid-template-columns: 1fr;
      grid-template-rows: unset;
      min-width: 25rem;
    }
  }

  & .grid__content--projects {
    gap: var(--spacing-xl);
   }
}

.grid__content--about {
  grid-template-columns: 0.75fr 1fr;
  grid-template-rows: auto 1fr auto;
}


.grid__item:last-child {
  display: flex;
  justify-content: space-around;
  border-radius: var(--border-radius-lg);
  gap: var(--spacing-lg);
  flex-wrap: wrap;
  color: var(--light);
  height: fit-content;
  background-image: linear-gradient(
    90deg,
    var(--orange),
    var(--pink) 52%,
    var(--purple)
  );
  background-size: 400% 400%;
  animation: animate-background 5s ease infinite;
  grid-column: span 2;
  padding: var(--spacing-md);

  @media (max-width: 58.3125rem) {
    grid-column: span 1;
  }
  @media (max-width: 71.875rem) {
    flex-direction: column;
  }
}
