.sidebar {
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: var(--dark);
  color: var(--light);
  padding: var(--spacing-sm);
  width: 100%;
  margin-bottom: var(--spacing-lg);

  @media (min-width: 34.4375rem) {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    min-height: 100svh;
    width: fit-content;
    max-width: 18.125rem;
    padding: var(--spacing-lg);
    gap: var(--spacing-md);
    margin-bottom: 0;
  }
  @media (min-width: 56.875rem) {
    padding: var(--spacing-lg);
  }
}

.sidebar__btn {
  border: none;
  background-color: transparent;
  border-radius: none;

  @media (min-width: 34.4375rem) {
    display: none;
  }

  & .icon {
    transform: rotate(0deg);
    width: 60px;
    height: 60px;
    background-image: none;
  }
}

.burger {
  display: block;
}
.cross {
  display: none;
}

.sidebar__content {
  position: absolute;
  transform: translateX(-100%);
  top: 5.375rem;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100svh - 5.375rem);
  max-height: 700px;
  width: 100%;
  padding: var(--spacing-lg);
  background-color: var(--dark);

  @media (min-width: 34.4375rem) {
    position: static;
    transform:translateX(0%);
    padding: 0;
    min-height: auto;
    height: 100%;
    background-color: transparent;
  }
}

.nav-open {
  overflow: hidden;

  & .sidebar__content {
    transition: transform 0.3s ease;
    transform:translateX(0%);
  }
  & .burger {
    display: none;
  }
  & .cross {
    display: block;
  }
}
