.article {
  width: 95%;
  max-width: 43.75rem;
  margin: 0 auto;
  container-type: inline-size;

  & .article__block {
    
    animation: slide-in linear;
    animation-timeline: view();
    animation-range:entry ;
 
  }


  & .article__text {
    margin: var(--spacing-md) 0;
    font-size: var(--text--base);
  }
}
