.btn {
    display: flex;
    background-color: var(--dark);
    border-radius: var(--border-radius-lg);
    color: var(--light);
    font-weight: 500;
    width: fit-content;
    padding: var(--spacing-sm) var(--spacing-lg);
    gap: var(--spacing-md);
    margin-top: var(--spacing-lg);
    align-items: center;
    border: none;

    &:hover .btn__icon {
        transform: rotate(0deg);
      }

    &:hover .btn__icon--form {
        transform: scale(1.2);
      }
  }
  
  .btn__icon {
    padding: var(--spacing-xs);
    border-radius: var(--border-radius-xl);
    transition: 0.3s ease;
    width: 50px;
    height: 50px;
    transform: rotate(-45deg);
    fill: var(--light);
  }



  .btn__icon--form {
    transform: none;
  }