.card {
    display: grid;
    justify-items: center;
}

.card__title {
    font-size: var(--text-xl);
    color: transparent;
    background-image: linear-gradient(90deg, var(--orange), var(--pink) 52%, var(--purple) );
    background-clip: text;
    text-align: center;
}

.card__subtitle {
    font-size: var(--text-md);
}

.card__link {
    display: flex;
    background-color: var(--dark);
    color: var(--light);
    font-weight: 500;
    width: fit-content;
    padding: var(--spacing-sm) var(--spacing-lg);
    gap: var(--spacing-md);
    margin-top: var(--spacing-lg);
    align-items: center;
  }
  
  .icon {
    background-image: linear-gradient(
      120deg,
      var(--orange),
      var(--pink) 52%,
      var(--purple)
    );
    padding: var(--spacing-xs);
    border-radius: var(--border-radius-xl);
    transition: 0.3s ease;
    width: 50px;
    height: 50px;
    transform: rotate(-45deg);
    fill: var(--light);
  }

  .card__link:hover .icon {
    transform: rotate(0deg);
  }