.card {
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  grid-template-rows: auto 5.625rem 1fr;
  height: 16.625rem;
  position: relative;
  gap: var(--spacing-md);
  width: 100%;
  margin: 0 auto;
  scale: .7; 
  border-radius: var(--border-radius-lg);
  padding: var(--spacing-md);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 4px 0px;
  container: card / inline-size;
  animation: scale linear;
  animation-timeline: view(12.5rem);

  &:last-of-type {
    animation: none;
    scale: 1; 
    opacity: 1;
  }


  & .card__content {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: 1 / -1;

    & .card__subtitle {
      font-style: italic;
      font-weight: 600;
      text-transform: uppercase;
    }

    & .card__title {
      font-size: 2.5rem;
      line-height: 1;
    }

    & .card__link {
      &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius-lg);
      }
      &:hover .card__icon {
        transform: rotate(0deg);
      }
    }

    & .card__icon {
      width: 5rem;
      height: 5rem;
      transition: 0.3s ease;
      transform: rotate(-45deg);
    }
  }

  & .card__image {
    border-radius: var(--border-radius-lg);
    object-position: top left;
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    flex-shrink: 0;
  }
}

@container card (max-width: 26.25rem) {
  .card .card__content .card__title {
    font-size: var(--text-lg);
  }
}
