.form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
    color: var(--light);
    padding: var(--spacing-xxl);
    border-radius: var(--border-radius-lg);


    & .form__group {
        display: flex;
        gap: var(--spacing-xl);
    }

    & .form__label {
        display: flex;
        flex-direction: column;
    }

    & .form__button {
        border: none;
    }
}

.form__input,
.form__textarea {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--light);
    outline: none;

    &:focus {
        border: 2px solid var(--light);
        border-radius: var(--border-radius-sm);
    }
}