.logo {
    background-color: var(--light);
    color: var(--dark);
    font-weight: 700;
    font-size: var(--text-md);
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    width: var(--xl);
    height: var(--xl);
    padding: var(--spacing-sm);
    border-radius: var(--border-radius-xl);
    box-shadow: 0px 0px 1px 2px var(--orange), 0px 0px 2px 4px var(--pink), 0px 0px 4px 6px var(--purple);
}