.navbar {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);

    & .navbar__item {
        font-size: var(--text-md);
        width: fit-content;
        position: relative;
        z-index: 1;
        transition: font-weight .3s ease;
    
        &:hover {
            font-weight: 700;
        }

        &:hover::before {
            width: 100%;
        }
    
        &::before {
            content: "";
            display: block;
            position: absolute;
            z-index: -1;
            top: 50%;
            width: 0%;
            height: .1875rem;
            background-image: linear-gradient(90deg, var(--orange), var(--pink) 52%, var(--purple) );
            transition: width .3s ease;
        }
    }

    & .navbar__link {
        color: var(--light);
        text-transform: uppercase;
    }
}



