.socials {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);

  & .socials__link {
    display: block;
    fill: var(--secondaryIconColor);
    background-color: var(--light);
    width: fit-content;
    text-transform: uppercase;
    border-radius: var(--border-radius-xl);
    padding: var(--spacing-sm);
    transition: box-shadow 0.3s ease;


    &:hover {
      box-shadow: 0px 0px 1px 2px var(--orange), 0px 0px 2px 4px var(--pink),
        0px 0px 4px 6px var(--purple);
    }
    & .socials__icon {
        width: 2rem;
        height: 2rem;
      }
  }
}