:root {
--black: #141313;
--white: #f1f1f1;
--orange: #FFB147;
--pink: #FF6C63;
--purple: #B86ADF;
 
--xs: 0.625rem;
--sm: 0.75rem;
--base: 1rem;
--md: 1.25rem;
--lg: 2rem;
--xl: 3.25rem;
 
--dark: var(--black);
--light: var(--white);
 
--text-sm: var(--sm);
--text-base: var(--base);
--text-md: var(--md);
--text-lg: var(--lg);
--text-xl: var(--xl);
 
--spacing-xs: var(--xs);
--spacing-sm: var(--sm);
--spacing-base: var(--base);
--spacing-md: var(--md);
--spacing-lg: var(--lg);
--spacing-xl: var(--xl);
 
--border-radius-sm: 0.25rem;
--border-radius-base: 0.5rem;
--border-radius-md: 0.75rem;
--border-radius-lg: 1rem;
--border-radius-xl: 1.75rem;

--primary-font: "IBM Plex Sans", sans-serif;
}