.bold {
    font-weight: bold;
}

.upper {
    text-transform: uppercase;
}

.italic {
    font-style: italic;
}

.sub-title {
    display: block;
    font-size: var(--text-md);
    text-transform: none;
}

.text--lg {
    font-size: var(--text-lg);
}
